body {
  box-sizing: border-box;
  margin: 0;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.phone {
  height: 41rem;
  width: 22rem;
  background-color: rgb(27, 27, 27);
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 24px;
}

.screen {
  height: 35.5rem;
  width: 21rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: black;
  opacity: 0%;
  animation: screen 1s ease-in-out forwards;
  border-radius: 24px;
}

@keyframes screen {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.homeBtn {
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 10px;
}

.app {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  bottom: 0;
  /* background-color: black; */
  background: rgba(0, 0, 0, 0.656);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  color: white;
  border-radius: 24px;
}

.light {
  /* background-color: antiquewhite; */
  background: rgba(255, 255, 255, 0.2);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);

  color: black;
}

.home {
  /* background-color: red; */
  left: 0;
  height: 100%;
  /* border-radius: 24px; */
}

.status-bar {
  height: 105%;
  /* background-color: aqua; */
  left: 0;
  top: -100.5%;
  z-index: 999;
  /* background: rgba(255, 255, 255, 0.2); */
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 0 0 0 0;
}

.status-down {
  animation: status-down 1s ease-in-out forwards;
}

@keyframes status-down {
  from {
    top: -100.5%;
  }
  to {
    top: 0%;
  }
}
.status-up {
  animation: status-up 1s ease-in-out forwards;
}

@keyframes status-up {
  from {
    top: 0%;
  }
  to {
    top: -100.5%;
  }
}

.launch {
  animation: fadeIn 0.4s ease-in-out forwards;
}
.unlaunch {
  animation: fadeOut 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes fadeOut {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

.time {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  /* color: aliceblue; */
  position: absolute;
  bottom: 0;
  padding: 0rem 9rem 0 8rem;
}

/* Home screen */
.home {
  background-image: url(wallp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}
.dock {
  height: 13%;
  width: 95%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  background: rgba(255, 255, 255, 0.2);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icon {
  height: 64px;
  width: 64px;
  background-color: beige;
  border-radius: 24px;
}

.icon-img {
  height: 64px;
  width: 64px;
}

.apps {
  width: 95%;
  transform: translate(-50%);
  position: absolute;
  top: 7%;
  left: 53%;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}

/* camera */
.camera {
  overflow: hidden;
  /* background-color: rgba(0, 0, 0, 0.764); */
}
.camera__shutterbtn {
  background-color: white;
  height: 72px;
  width: 72px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 2rem;
}

.camera__feed {
  /* height: 70%; */
  position: absolute;
  top: 5%;
  left: -30%;
  transform: translate(-50%, -50%);
}

#canvas {
  /* scale: 0.9 1.01;
  height: 70%; */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-45%, -50%);
}

/* settings */
h1 {
  text-align: center;
  margin-top: 3rem;
}

.settings__list {
  list-style: none;
  font-size: 2rem;
  margin-left: 25px;
}

.checkbox__settings {
  width: 1.9em;
  height: 1.9em;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  /* appearance: none; */
  /* -webkit-appearance: none; */
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: gray;
}

.wallpapers {
  margin-top: 0.5rem;
  position: relative;
  height: 27rem;
  width: 90%;
  left: 50%;
  transform: translate(-65%);
  background-color: #dddddd10;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}

.wallpaper-container {
  height: 9rem;
  background-color: #ddd;
  width: 5rem;
  margin: 1rem;
}

.wallpaper-img {
  height: 9rem;
  width: 5rem;
  margin: 1rem;
}

p {
  margin: 1rem;
  margin-top: 0.1rem;
}

/* calculator */

.calc__output {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
  margin-top: 2rem;
}
.calc__output input {
  height: 5rem;
  width: 18rem;
  background-color: transparent;
  color: inherit;
  font-size: 2rem;
  text-align: right;
  border: none;
  background-color: #0f202791;
}

input {
  border: none;
}
input:focus {
  outline: none;
}
textarea {
  border: none;
}
textarea:focus {
  outline: none;
}
.calc__column {
  width: 18rem;
  height: 24rem;
  position: absolute;
  top: 11rem;
  left: 50%;
  transform: translate(-50%);
  display: block;
  flex-direction: column;
}
.calc__row {
  display: flex;
  justify-content: space-around;
}
.calc__btn {
  margin: 0.5rem 0.4rem;
  height: 59px;
  width: 59px;
  font-size: 2rem;
  border-radius: 10px;
  background-color: #0f202791;
  color: inherit;
}

.eql {
  width: 119.5px;
}

/* Netflix */
.netflix-icon .icon-img {
  scale: 1.1;
}

.movie__search {
  height: 13%;
  width: 95%;
  margin: auto;
  border-radius: 24px;
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 6%;
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  color: white;
}

.movie-search__input {
  height: 5rem;
  width: 80%;
  background-color: transparent;
  color: inherit;
  font-size: 2rem;
  border: none;
  padding-left: 1rem;
}

.search__icon {
  text-decoration: none;
  color: white;
  display: inline-block;
  height: 2rem;
  width: 10%;
  position: relative;
  top: 20%;
  left: 0rem;
  font-size: 2rem;
  background: none;
  border: none;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.movies__list {
  margin-top: 2.7rem;
  margin-left: 2.7rem;
  position: relative;
  height: 27rem;
  width: 90%;
  left: 50%;
  transform: translate(-65%);
  background-color: #dddddd10;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}

.movie {
  background-color: #ffffff3c;
  width: 90%;
  height: 10rem;
  margin: 1rem auto 0 auto;
  display: flex;
}

.movie__img {
  height: 9rem;
  background-color: #ddd;
  width: 5rem;
  margin: 0.5rem;
  object-fit: cover;
}

.movie__detail {
  width: 12rem;
  height: 100%;
  text-align: center;
  margin: 0.1rem;
}
.movie__imDb {
  background-color: #dba506;
  font-size: large;
  font-weight: bolder;
  border: none;
}

/* qr */
.qr-search__input {
  height: 5rem;
  width: 80%;
  background-color: transparent;
  color: inherit;
  font-size: 2rem;
  border: none;
  padding-left: 1rem;
}

.qr__search {
  height: 13%;
  width: 95%;
  margin: auto;
  border-radius: 24px;
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 70%;
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  color: white;
}

.qr__container {
  display: none;
  height: 18rem;
  width: 18rem;
  background-color: wheat;
  position: relative;
  top: -10%;
  margin: auto;
  overflow: hidden;
  /* border-radius: 24px; */
}

.Generate-qr {
  display: block;
  position: relative;
  top: 73%;
  margin: 0 auto;
  background-color: #203a43;
  color: white;
  font-size: 1.2rem;
  /* border: none; */
  border-radius: 24px;
  padding: 10px;
}

/* Weather app */
.weather {
  background-color: rgba(0, 221, 255, 0.429);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.weather-search__input {
  height: 5rem;
  width: 80%;
  background-color: transparent;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: inherit;
  font-size: 2rem;
  border: none;
  padding-left: 1rem;
  color: white;
}

.weather__search {
  height: 13%;
  width: 95%;
  margin: auto;
  border-radius: 24px;
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 6%;
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  color: white;
}

.weather_image {
  display: block;
  position: relative;
  top: 10%;
  margin: auto;
}

.city__name {
  font-size: 3rem;
  position: relative;
  top: 6%;
  margin: 0;
}

.city__temp {
  font-size: 4rem;
}

/* notes */
#notes-icon {
  scale: 1.1;
}

.new__note {
  background-color: #dddddd37;
  border-radius: 24px;
  height: 2rem;
  width: 85%;
  margin: 0 auto 0 auto;

  border: #0f2027ad;
  position: relative;
  top: 5%;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

.notes__container {
  position: relative;
  height: 29rem;
  width: 97%;
  left: 50%;
  top: 6%;
  transform: translate(-50%);

  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  border-radius: 24px;
}

.note {
  background-color: #dddddd37;
  border-radius: 24px;
  height: 9rem;
  width: 17rem;
  margin: 0.5rem auto 0 auto;
  position: relative;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  cursor: text;
}
.note__text {
  height: 95%;
  width: 95%;
  background-color: transparent;
  color: inherit;
  font-size: 1.5rem;
  border: none;
  align-items: center;
  word-wrap: break-word;
}
